table {
    width: 100%;
    table-layout: fixed;
    transform-origin: top left; /* 縮小の起点を左上に設定 */
}

th, td {
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 10px; /* 文字サイズを縮小 */
}

.color-input {
    margin: 1px;
}

.large-button {
    font-size: 12px; /* 読みやすさを考慮してサイズを調整 */
    padding: 5px 10px; /* ボタンの押しやすさを考慮 */
    margin: 3px;
}

#colorMapContainer {
    width: 100%;
    max-height: 400px; /* テーブルの最大高さを指定 */
    overflow: auto; /* 内容が見切れた場合にスクロールできるように設定 */
    border: 1px solid #000; /* 見やすくするために枠を付ける */
}

#colorMap {
    width: 100%;
    height: auto;
}

.fullscreen-table {
    width: 100%;
    height: 100%;
    max-height: none;
    overflow: visible;
}
